* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-size: 100%;
    line-height: 1.4;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2.1rem;
}

p {
    font-size: 1.5em;
    margin-bottom: 2.1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

.presentation {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #323330;
    color: #f0db4f;
    font-family: sans-serif;
}

.slide-container {
    display: none;
}

.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.fade-in {
    animation: fade-in 1s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.timer {
    font-size: 3.25em;
    position: absolute;
    top: 0;
    right: 0;
}