* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
    font-family: sans-serif;
    background-color: #333;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

section {
    margin-bottom: 1.4rem;
}
.container {
    width: 98%;
    max-width: 67rem;
    margin: 1.4rem auto;
    padding: 1.4rem;
    background-color: #fff;
}

.selector-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selector-box1 {
    width: 50px;
    height: 50px;
    background-color: #5ebcd0;
    border: 1px solid black;
}
.selector-box2 {
    width: 50px;
    height: 50px;
    background-color: #b39c4f;
    border: 1px solid black;
}
.selector-box3 {
    width: 50px;
    height: 50px;
    background-color:  #1D1D1D;
    border: 1px solid black;
}
.selector-box4 {
    width: 50px;
    height: 50px;
    background-color:  #0000EE;
    border: 1px solid black;
}
.selector-box5 {
    width: 50px;
    height: 50px;
    background-color:  #A00707;
     border: 1px solid black;
}