* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
    font-family: sans-serif;
    background-color: #333;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

section {
    margin-bottom: 1.4rem;
}

.container {
    width: 98%;
    max-width: 67rem;
    margin: 1.4rem auto;
    padding: 1.4rem;
    background-color: #fff;
}

.selector-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selector-box {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
}