body {
    font-family: sans-serif;
    background-color: #1b0055;
    line-height: 1.4;
    color: #f4f8f2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;   
}

.container h1 {
  font-size: px;   
  font-weight: 700;  
}


main.container {
    flex: 1;
}



header {
  height: 420px;          
  background-color: #000; 
}

header img {
  width: 100%;       
  height: 100%;      
  object-fit: fill; 
}


.footer {
    background-color: #333;
    color: #fff;
}


.product {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    margin-bottom: 1.75rem;
}

.product img {
    width: 20%;
}

h4{
    font-size: 2.4em;
    margin-bottom: 1.75rem;
}