body {
    font-family: sans-serif;
    background-color: #0b9ea5;
    line-height: 1.4;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    
}


.container h1 {
  font-size: 70px;   /* try 40px, 48px, 56px, etc. */
  font-weight: 700;  /* optional: makes it bold */
}


main.container {
    flex: 1;
}


.header {
    background-color: #fff;
}

.header {
    background-color: #008080;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    gap: 1rem;
}

.header .logo {
    height: 500px;
    width: 2500px;
    border-radius: 4px;
    object-fit: cover;
}

.footer {
    background-color: #333;
    color: #fff;
}


img {
    max-width: 100%;
}





.product {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    margin-bottom: 1.75rem;
}

.product img {
    width: 20%;
}

h3 {
    font-size: 2.4em;
    margin-bottom: 1.75rem;
}