body {
    font-family: sans-serif;
    background-color: #0b9ea5;
    line-height: 1.4;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    
}

main.container {
    flex: 1;
}


.header {
    background-color: #fff;
}

.footer {
    background-color: #333;
    color: #fff;
}

/* gör hero-bilden responsiv */
img {
    max-width: 100%;
}

/* produktlista från API:t */
.product {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    margin-bottom: 1.75rem;
}

.product img {
    width: 20%;
}

h3 {
    font-size: 2.4em;
    margin-bottom: 1.75rem;
}
